* {
    margin: 0;
}

body {
	font-family: 'Verdana', sans-serif;
    background-image: url("/static/img/Templo_Atena.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.calc img{
    height: 35px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 3px;
}

.imagem_poder img {
    height: 120px;
    width: 120px;
    padding-top: 4px;
    cursor: pointer;
    border-radius: 10pt;
}

.Personagens {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 4px;
    padding-left: 40px;
    padding-right: 40px;
}

.nome {
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(12, 19, 13, 0.685);
    border-radius: 20px;
}

.linha-container {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #fffffffb;
    margin: 4px;
}

.linha-container_2 {
    color: rgb(250, 246, 246);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

button {
    background-color: rgb(255, 94, 0);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}

.CavSelect {
    border-radius: 20px;
    background-image: url("https://i.pinimg.com/originals/48/e8/fe/48e8fedc1186c9ca6714cf8070861396.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(12, 12, 12, 0.788);
    border: solid 7px rgb(155, 197, 83);
}

.ArmaSelect {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(12, 12, 12, 0.788);
    border: solid 7px rgb(155, 197, 83);
}

#dano {
    font-weight: bolder;
    font-weight: bold;
    color: rgb(229, 255, 0);
    background-color: rgba(110, 87, 201, 0.247);
    border-radius: 10px;
    margin-top: 80px;
}

#Seya {
    margin-top: 60px;
    width: 150px;
    height: 100px;
}

#Seya img {
    width: 110px;       
}

#Shiryu {
    margin-top: 30px;
    width: 150px;
    height: 100px;
}

#Shiryu img {
    width: 150px; 
    height: 200px;
         
}

#Hyoga {
    width: 150px;
    height: 100px;
}

#Hyoga img {
    width: 60px; 
    height: 160px;      
}

#Shun {
    margin-top: 30px;
    width: 150px;
    height: 100px;
}

#Shun img {
    width: 70px; 
    height: 200px;      
}

#Ikki {
    margin-top: 60px;
    width: 150px;
    height: 100px;
}

#Ikki img {
    width: 180px;  
    height: 270px;  
}