<!DOCTYPE html>
<html>
    <head>
        <title>Calculadora de Dano - RPG</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <script src="/static/index.js"></script>
    </head>
    <body onload="start()">
        <div class="linha-container">
            <div class="calc">
            <img src="/static/img/Calc_Dano.gif">
            </div>
            <div class="titulo">
            <h1>Calculadora de Dano</h1>
            </div>
            <div class="calc">
            <img src="/static/img/Calc_Dano.gif">
            </div>
        </div>
        <div class="linha-container_2">
            <p>Selecione uma arma para atacar</p>
        </div>
            <div class="Personagens">
                {% for personagem in personagens %}
                <div class="elemento cardPoderes" id="{{personagem.poder_nome}}" data-poder="{{personagem.poder}}">
                    <div class="nome poder">
                        <b>{{personagem.poder_nome}}</b>
                    </div>
                    <div class="imagem_poder">
                        <img src="{{caminho_imagem}}/{{personagem.imagem_poder}}">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="linha-container_2">
                <p>Selecione um cavaleiro para ser atacado</p>
            </div>
                <div class="Personagens">
                    {% for personagem in personagens %}
                    <div class="elemento cardCavaleiros" id="{{personagem.nome}}" data-vida="{{personagem.vida}}">
                        <div class="nome cavaleiro">
                            <b>{{personagem.nome}}</b>
                        </div>
                        <div class="imagem_cavaleiro">
                            <img src="{{caminho_imagem}}/{{personagem.imagem_nome}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="linha-container">
                    <span id="dano"></span>
                </div>
                <div class="linha-container">
                    <button id="calcular" type="button">Calcular Dano</button>
                </div>
        <script type="text/javascript" src="/static/index.js"></script>
    </body>
</html>


                